@import "tailwindcss";

#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}
.text-pixel-sans {
  font-family: "Pixelify Sans", sans-serif;
  font-optical-sizing: auto;
  font-weight: 600;
  font-style: normal;
}

@keyframes glitch {
  0% {
    text-shadow: 2px 2px red, -2px -2px blue;
  }
  50% {
    text-shadow: -2px 2px blue, 2px -2px red;
  }
  100% {
    text-shadow: 2px -2px red, -2px 2px blue;
  }
}

.glitch {
  animation: glitch 1s infinite alternate;
  font-weight: bold;
  text-transform: uppercase;
}

.rotate-icon {
  font-size: 2em;
  animation: rotate 2s linear infinite;
}

@keyframes rotate {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg); /* Satu putaran penuh */
  }
}